<section class="chat">
  <div class="grid">
    <h2>jQuery/PHP Chat Prototype</h2>
    <p id="name-area"></p>
    <div id="chat-wrap"><div id="chat-area"></div></div>
    <form id="send-message-area">
      <p>Your message: </p>
      <textarea id="sendie" maxlength = '100'></textarea>
    </form>
  </div>
</section>