<%
  var sitemap = GetSitemap();
%>
<footer>
  <div class="grid">
    <p>All rights reserved. Read our <a href="<%- domain %>about-us/privacy-policy">privacy policy</a>. All <a href="<%- domain %>/about-us/terms-and-conditions">Terms & Conditions</a> apply.</p>
  </div>
</footer>
